
  <p id="notice"><%= notice %></p>

  <div class ="grid"> 
   <% @pins.each do |pin| %>
    <div class = "grid-item"> 
        <div class ="item-picture">
            <%= link_to pin_path(pin) do %>
              <%= image_tag pin.image %>
             <% end %>   
        </div>

          <div class ="item-footer"> 
            <p><%= pin.title %></p>
              <div><%= link_to 'Edit', edit_pin_path(pin) %> | <%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
          </div>
      </div>
    <% end %> 
 </div>



