<div id ="pin_show"> 
	<div class="panel-body">
		<p id="notice"><%= notice %></p>

		<p>
	  	<h1 class="title"><%= @pin.title %></h1>  	
		</p>
		<div class = "pin_image">
			<%= image_tag(@pin.image) %> 
		</div>
	
		<p>
		  <div class="description"><%= @pin.description %></div>
		</p>

		<p>
		  <div class="description"><%= @pin.likes %></div>
		</p>

		<p>
		  <strong>Created on:</strong>
		  <%= @pin.created_on %>
		</p>
		<%= link_to 'Edit', edit_pin_path(@pin) %> |
		<%= link_to 'Back', pins_path %>
	</div>	
</div>