<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pin.title %>
</p>

<div>
	<%= image_tag(@pin.image, style: "width:25%") %> 
</div>

<p>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>

<p>
  <strong>Created on:</strong>
  <%= @pin.created_on %>
</p>

<p>
  <strong>Updated on:</strong>
  <%= @pin.updated_on %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
